<!DOCTYPE html>
<html>

<head>
    <title>City Search</title>
</head>

<body>
    <h1>City Search</h1>
    <h1>PRATHIK HEGDE - 1002084424</h1>
    <form action="/search" method="POST">
        <label for="city">City:</label>
        <input type="text" name="city" id="city" required>
        <button type="submit">Search</button>
    </form>

    <hr>

    <h2>Bounding Box Search</h2>
    <form action="/bounding_box_search" method="POST">
        <label for="min_lat">Minimum Latitude:</label>
        <input type="text" name="min_lat" id="min_lat" required>
        <label for="min_lon">Minimum Longitude:</label>
        <input type="text" name="min_lon" id="min_lon" required>
        <br>
        <label for="max_lat">Maximum Latitude:</label>
        <input type="text" name="max_lat" id="max_lat" required>
        <label for="max_lon">Maximum Longitude:</label>
        <input type="text" name="max_lon" id="max_lon" required>
        <br>
        <button type="submit">Search</button>
    </form>

    <hr>

    <h2>Add City</h2>
    <!-- Add City Form -->
    <form action="/add" method="POST">
        <label for="add_city">City:</label>
        <input type="text" name="add-city" id="add_city" required>
        <label for="add_state">State:</label>
        <input type="text" name="add-state" id="add_state" required>
        <!-- Rest of the form -->
    </form>

    <!-- Remove City Form -->
    <h2>Remove City</h2>
    <form action="/remove" method="POST">
        <label for="remove_city">City:</label>
        <input type="text" name="remove-city" id="remove_city" required>
        <label for="remove_state">State:</label>
        <input type="text" name="remove-state" id="remove_state" required>
        <!-- Rest of the form -->
    </form>


</body>

</html>