<!DOCTYPE html>
<html>
<head>
    <title>City Data</title>
    <style>
        /* Add your CSS styles here */
    </style>
</head>
<body>
    <h1>CLOUD COMPUTING QUIZ 2</h1>
    <h1>PRATHIK HEGDE - 4424</h1>
    <h1>City Data</h1>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload">
    </form>
    <hr>
    <form action="/search" method="POST">
        <label for="city">Search city details </label>
        <input type="text" name="city">
        <input type="submit" value="Search">
    </form>
</body>
</html>
